body{
    background-color: #FAF8F5;
}

#userIntroTab{
    text-align: center;
}

#btnSection{
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
}

.btn{
    text-decoration: none;
    color: rgba(111, 185, 135, 1);
    display: inline-block;
}

hr{
    border: 1px solid rgba(111, 185, 135, 1);
}

#activityTab, #postsTab, #savedTab, #settingsTab, #popupBg, #changePasswordPopup, #logoutPopup, #deleteAccountPopup{
    display: none;
}

#userIntroTab, #propertyVerifyTab, #aboutTab, #activityTab, #postsTab,  #savedTab, #settingsTab, #userPrefTab, #updateInfoBtn{
    margin: 25px;
    padding: 25px;
    border: 2px solid rgba(111, 185, 135, 1);
    border-radius: 20px;
    background-color: rgb(227, 238, 227);
}

.data{
    text-align: right;
}


#viewCounts{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.counts{
    text-align: center;
    width: 500px;
    padding: 15px;
    margin: 10px;
    border: 2px solid rgba(111, 185, 135, 1);
    border-radius: 10%;
    background-color:#FFFFFF;
}

.numbers{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
}

#popupBg{
    width: 100%;
    height: 100%;

    background-color: rgba(102, 102, 102, 1);
    
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;

    opacity: 0.6;
}

#changePasswordPopup{
    width: 250px;
    padding: 15px;
    border: 2px solid rgba(111, 185, 135, 1);
    background-color: #FAF8F5;

    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
}

#logoutPopup{
    width: 250px;
    padding: 15px;
    border: 2px solid red;
    background-color: rgba(254, 236, 236, 1);

    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
}

#deleteAccountPopup{
    width: 250px;
    padding: 15px;
    border: 2px solid red;
    background-color: rgba(254, 236, 236, 1);

    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
}