body{
    background-color: #FAF8F5;
}

#intro{
    margin: 25px;
    padding: 25px;
    border: 2px solid rgba(111, 185, 135, 1);
    border-radius: 20px;
    background-color: rgb(227, 238, 227);
}

#userProPic{
    position: relative;
    left: 500px;
}

#userInfo{
    text-align: center;
}

#btnSection{
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
}

.btn{
    text-decoration: none;
    color: rgba(111, 185, 135, 1);
    display: inline-block;
}

hr{
    border: 1px solid rgba(111, 185, 135, 1);
}

#activityTab, #postsTab, #savedTab, #settingsTab, #popupBg, #deleteAccountPopup{
    display: none;
}

#propertyVerifyTab, #aboutTab, #activityTab, #postsTab,  #savedTab, #settingsTab{
    margin: 25px;
    padding: 25px;
    border: 2px solid rgba(111, 185, 135, 1);
    border-radius: 20px;
    background-color: rgb(227, 238, 227);
}

/* .counts{

} */

#postCounts{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px;
    height: 150px;
    font-size: 25px;
    background-color: rgb(39, 216, 39);
}

#popupBg{
    width: 100%;
    height: 100%;

    background-color: rgba(102, 102, 102, 1);
    
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;

    opacity: 0.6;
}

#deleteAccountPopup{
    width: 250px;
    padding: 15px;
    border: 2px solid red;
    background-color: rgba(254, 236, 236, 1);

    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
}