body{
    background-color: E9E7E2;
}
#photo{
    margin: 25px;
    padding: 25px;
    border: 2px solid rgba(111, 185, 135, 1);
    border-radius: 20px;
    background-color: FAF8F5;
}

#proPic{
    display: flex;
    flex-direction: row;
    gap: 900px;
}

#btnSection{
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
}

.btn{
    text-decoration: none;
    color: rgba(111, 185, 135, 1);
    display: inline-block;
}

hr{
    border: 1px solid rgba(111, 185, 135, 1);
}

#aboutDiv{
    margin: 25px;
    padding: 25px;
    border: 2px solid rgba(111, 185, 135, 1);
    border-radius: 20px;
    background-color: rgb(227, 238, 227);
}

#settingsDiv{
    margin: 25px;
    padding: 25px;
    border: 2px solid rgba(111, 185, 135, 1);
    border-radius: 20px;
    background-color: rgb(227, 238, 227);
}

#popupBg{
    width: 100%;
    height: 100%;

    background-color: rgba(102, 102, 102, 1);
    
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;

    opacity: 0.6;
}

#deleteAccountPopup{
    width: 250px;
    padding: 15px;
    border: 2px solid red;
    background-color: rgba(254, 236, 236, 1);

    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
}